@charset "UTF-8";

.bicicleta {
  height: 700px;
  background-color: lightblue;
  background-image: url(img/bicicleta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  /* background: lightblue url(img/bicicleta.jpg) no-repeat cover center; */
  display: flex;
}

.pattern {
  background-color: lightgrey;
  background-image: url(img/pattern.svg);
  background-size: 40px 40px;
  background-repeat: repeat;
  height: 400px;
}

.linear {
  height: 200px;
  background-image: linear-gradient(45deg,
   #111213 30%, /* começa no 30% */
   #1d1e20,
   #2f3237,
   #5e636e,
   #8f96a3,
   #c2c9d6 ,
   #dee3ed,
   #f1f3f9,
   #f8f9fc 90%); /* começa no 90% */
}

.radial {
  height: 300px;
  background-image: radial-gradient(circle, darkblue, darkred, darkgreen, darkmagenta);
}

h1 {
  margin: auto;
  background-color: white;
  padding: 1rem 2rem;
}