@charset "UTF-8";

img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Toda vez que passar de 300px, vai criar uma coluna */
  gap: 1rem;
}

@media (min-width: 400px) {

  .minmax img {
    grid-row: 2; /* fazer com que a imagem fique na linha 2 */
  }
}

.galeria {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Usar quando for para alinhar imagens */
}